.tittle{
  font-size: 45px;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
  color: #4673B6;
  letter-spacing: 4px;
  background-color: rgb(255, 211, 154);
  padding: 5px ;
  padding-left: 10px;
  border-radius: 15px;
}
.containerTittle{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    background-image: url(https://cdn-icons-png.flaticon.com/128/6530/6530443.png);
    background-repeat: repeat-x;

}
.divSelect{
    flex-direction: row;
    display: flex;
    border-style: solid;
    background-color: #4673B6;

    
}


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(255, 211, 154);
    border: none;
    color: black;
    text-align: center;
    font-size: 19px;
    padding: 6px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    right: 0;
    border-style: groove;
    font-weight: bold;
  }
  
  .span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-left: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    left: 0;
  }


  